<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Account">
        <setting id="phone" type="text" label="Phone Number" default="" />
    </category>
    <category label="Advanced">
        <setting id="quality" type="enum" label="Video quality" values="SD|720p|1080p" default="2"/>
        <setting id="itemsperpage" type="enum" label="Items per page" values="10|20|30" default="2" />
    </category>
</settings>